---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
    <h1>La Velada del Año V</h1>
    <p>
        Bienvenidos al evento de boxeo más esperado del año, donde los mejores
        creadores de contenido se enfrentarán en el ring.
    </p>
</Layout>
