<footer class="relative w-screen h-[400px]">
    <div
        class="absolute inset-0 bg-[url('/images/footer.webp')] bg-cover bg-bottom
        [mask-image:linear-gradient(transparent,black_50%)]"
    >
    </div>
    
    <div
        class="relative h-full flex flex-col justify-center items-center text-white"
    >
        <div class="footer-content">
            <p>© 2026 LaraCorps. All rights reserved.</p>
        </div>
    
        <div class="social-links">
            <a href="https://twitter.com" target="_blank">Twitter</a>
            <a href="https://facebook.com" target="_blank">Facebook</a>
            <a href="https://instagram.com" target="_blank">Instagram</a>
        </div>
    </div>
</footer>